<header>

<h1 class="logo"><a href="/"><img src="{{ 'logo.svg' | | asset_url }}" alt=""></a></h1>  

<nav class="main">
{% for link in linklists.main-menu.links %}
{% assign child_list_handle = link.title | handleize %}
{% if linklists[child_list_handle].links != blank %}
  <a href="{{ link.url }}">{{ link.title }}</a>
  [{% for childlink in linklists[child_list_handle].links %}
    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
  {% endfor %}]
{% else %}
  <a href="{{ link.url }}">{{ link.title }}</a>
{% endif %}
{% endfor %}

<a href="/cart"><img class="cart-img" src="{{ 'cart.svg' | asset_url }}" alt="cart-icon" ></a>
</nav>
</header>